@use './partials/vars' as *;

//@import 'node_modules/bootstrap/scss/bootstrap';
// @import 'node_modules/@fountsource/montserrat/index.css';
// @import 'node_modules/@fountsource/montserrat/700.css';

body {
  min-height: 100vh;
  font-family: $main-font;
  background-color: $primary-color;
  color: white;
}

.container {
  width: 70%;
  margin: 0 auto;
  background-color: white;
}

img {
  width: 100%;

}

.card {
  background-color: $primary-color;
  margin: 19px;
  cursor: pointer;
  transition: all .1s;

  &:hover {
    transform: scale(1.1);
  }
}